
body {
  background-color: powderblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
h1 {
  color: blue;
}
p {
  color: red;
}
div {
    margin: 5px;
}
.flexrow {
    display: flex;
    flex-direction: row;
}
.field {
    height: 699px;
    width: 516px;
    background-image: url('soccer-field.jpg');    
}
.fieldposition {
    position: relative;
    width: fit-content;
}
.fieldplayer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  position: relative;
  text-align: center;
  border: 2px solid;
}
.subadded {
    border: solid yellow 2px;
}
.inactive {
    background-color: white;
}

.pcactive {
    background-color: red;
}
.fieldname {
    color: white;
    font-size: medium;
    font-weight: bold;
    position:absolute;
    top:-25px;
}
.subname {
    color: yellow;
    font-size: medium;
    font-weight: bold;
    
    position:absolute;
    bottom: -25px;
}
.pendingsub {
    color: gray;
    font-size: medium;
    font-weight: bold;
    position:absolute;
    top:25px;
}
.fieldactive {
    background-color: darkblue;
}

.gk {
   left: 50px;
   top: 325px; 
}
.hf {
    top: 158px;
    left: 452px;
}
.lf {
    top: 348px;
    left: 452px;
}
.cam {
    top: 179px;
    left: 376px;
}
.rm {
    top: 260px;
    left: 302px;
}
.lm {
    top: -98px;
    left: 302px;
}
.cdm {
    top: 82px;
    left: 250px;
}
.cbl {
    top: -160px;
    left: 120px;
}
.cbr {
    top: -20px;
    left: 120px;
}
.lhb {
    top: -200px;
    left: 160px
}
.rhb {
    top: 28px;
    left: 160px;
}
.playercard {
    border: 1px solid red;

}